@import "tailwindcss";

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-zol-primary: #4C1D95;
  --color-zol-dark: #0F172A;
  --color-zol-accent: #22C55E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}
